* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 2rem;
}

main {
    background-color: #321c4b;
    padding: 2rem 2rem;
    border-radius: 1rem;    
}

/* Menu de Busquedad*/

.search {
    padding: 1.5rem;
    background-color: goldenrod;
    border-radius: .5rem;
}

#forma {
    display: flex;
    justify-content: center;
    align-items: center;
}

#forma input {
    padding: .5rem;
    border: 1px solid  white;
    border-radius: .4rem; 
    color: white;
    background-color: #321c4b;
    text-align: center;
    cursor: pointer;

}


/*Menu de Resultado*/

.resultado img {
    width: 250px;
    height: 350px;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem  black;
    display: block;
    margin: auto;
    cursor: pointer;
}

.resultado h1 {
    padding: 1rem;
    color: white;
    font-size: 30px;
    text-align: center;
}

.data {
    margin-bottom: 2rem;
}

.data ul {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

/* Otros Resultados*/

.otrosResultado p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 1rem;
}

.otrosResultado img {
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem  black;
    width: 30%; 
    height: 200px;
    margin: 1%;
    float: left;
}



