/* Nuevo Boton */
/* Elemento Definido */
:defined {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 3rem;
    width: 100%;

}

#nuevo {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
}

#nuevo .text1 {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    /* Efectos */
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 30%, #00DDEB);
    border: 0;
    border-radius: .4rem;
    box-shadow: rgb(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1rem;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.text1:active,
text1:hover {
    outline: 0;
}

.text1 span {
    background-color: rgb(5, 6, 45);
    padding: 12px 15px;
    border-radius: .4rem;
    width: 80%;
    height: 30%;
    transition: 300ms;
}

.text1:hover span {
    background: none;
}

.text1:active {
    transform: scale(0.9);
}

/* Contenedor Principal */
#sar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    grid-gap: 3rem 3rem;
}

/* Imagen Pricipal */
.imagine {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.imagine img {
    position: relative;
    width: 15rem;
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
    box-shadow: .5rem .6rem .5rem #100e1d83;
    cursor: pointer;
}

.imagineH {
    display: flex;
    align-items: center;
    position: absolute;
    color: rgba(238, 228, 220, 0.877);
    font-size: 1.5rem;
    height: 19rem;
    width: 15rem;
    max-width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: .5rem;
    transition: all .4s
}

.imagineH:hover {
    backdrop-filter: blur(1px);
    opacity: 2;
    cursor: pointer;

}

/* Data */
.dato {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: #100e1d9d;
    color: #fff;
    height: auto;
    border: .1rem solid #100e1dd2;
    border-radius: .5rem;
}

.dato h1 {
    text-align: center;
}

.dato ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.137);
    width: 80%;
    border-radius: .5rem;
    height: auto;
}

.data ul li {
    text-align: center;
}

/* Otros resultados titulo */

.web {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    color: #fff;
    height: auto;
}

.component {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
    justify-items: center;
    align-items: center;
    width: 100%;
}

.component div img {
    position: relative;
    width: 13rem;
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
    box-shadow: .5rem .6rem .5rem #100e1d83;
    cursor: pointer;
}


.expe {
    position: absolute;
    color: rgba(238, 228, 220, 0.877);
    font-size: 1.5rem;
    height: 16.5rem;
    width: 13rem;
    max-width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: .5rem;
    transition: all .4s
}

.expe:hover {
    backdrop-filter: blur(1px);
    opacity: 2;
    cursor: pointer;

}

@media screen and (max-width: 900px) {
    .component {
        grid-gap: 2rem;
    }
}