

/* Efecto para imagen principal */

.haver {
    display: flex;
    position: absolute;
    color: rgba(238, 228, 220, 0.877);
    font-size: 1.5rem;
    height: 20rem;
    width: 13.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.haver:hover {
    backdrop-filter: blur(1px);
    opacity: 2;

}

/* Efecto para otros resultados */





/* Efectos Icon */

.dark i:hover {
    cursor: pointer;
    animation-name: color;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        color: #fff;
    }
    50% {
        color:rgb(233, 72, 8);
        transform: scale(1.2);
    }
    100% {
        color: rgb(226, 23, 8);
        transform: scale(1.3);
    }
}