
/* Efecto de imagen para otros resultados */

.otrosResultados h3 {
    display: flex;
    position: absolute;
    color: rgba(238, 228, 220, 0.877);
    font-size: 1.5rem;
    height: 18rem;
    width: 12rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    z-index: 1;
    padding: .5rem;
}


.otrosResultados h3:hover {
    backdrop-filter: blur(1px);
    opacity: 2;
    cursor: pointer;
    box-shadow: .9rem .9rem .5rem .5rem  var(--principla-color);
}


/* Efectos Icon */

.dark i:hover {
    cursor: pointer;
    animation-name: color;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}

@keyframes color {
    0% {
        color: #fff;
    }
    50% {
        color:rgb(233, 72, 8);
        transform: scale(1.2);
    }
    100% {
        color: rgb(226, 23, 8);
        transform: scale(1.3);
    }
}

.full {
    color: #fff;
    transition: all 1s ;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}

/* Efecto light */

.light {
    background-color: #a3a0a0cc; 
    transition: all 1s ease-out;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}

.efect {
    transition: all 1s ease-out;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}

/* Efecto Main */

